<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WindowsFormsApplicationDB.Properties.Settings.DBCon"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=C:\Users\lang\Documents\Visual Studio 2015\Projects\Datenbank\WindowsFormsApplicationDB\bin\Debug\Bestellung.accdb"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>